// colors
$app_color_primary: #ff057c;
$app_color_primary_rgb: rgb(255, 5, 124);
$app_color_secondary: #00277a;
$app_color_secondary_rgb: rgb(0, 39, 122);

$input_placeholder_colors: #1d1d1d;

// RESPONSIVE BREAKPOINTS : bootstrap-5.2.0
$BP_sm_max: 575px;
$BP_sm_min: 576px;

$BP_md_max: 767px;
$BP_md_min: 768px;

$BP_lg_max: 991px;
$BP_lg_min: 992px;

$BP_xl_max: 1199px;
$BP_xl_min: 1200px;

$BP_xxl_max: 1399px;
$BP_xxl_min: 1400px;
